-registry-path==1.0
BeautifulSoup==3.2.1
EPD==7.3
Examples==7.3
Jinja2==2.6
PIL==1.1.7
Pygments==1.4
PythonDoc==2.7.3
appinst==2.1.2
apptools==4.1.0
casuarius==1.0
chaco==4.2.0
cloud==2.4.6
configobj==4.7.2
distribute==0.6.26
enable==4.2.0
enaml==0.2.0
enstaller==4.5.3
etsproxy==0.1.1
geopy==0.95.1
httplib2==0.8
idle==2.7.3
ipython==0.12.1
kernmagic==0.1.0
matplotlib==1.1.0
nose==1.1.2
numpy==1.6.1
oauth2==1.5.211
ply==3.4
pyaudio==0.2.4
pyface==4.2.0
pyglet==1.1.4
pyreadline==1.7.1
python-dateutil==1.5
pytz==2011n
pywin32==214
pyzmq==2.1.11
requests==1.2.0
scipy==0.10.1
tornado==2.2
traits==4.2.0
traitsui==4.2.0
virtualenv==1.9.1
wxPython==2.8.10.1
